var userConfig =
{
    searchs:
    [
        {
            name: "Smartphone",
            url: "http://www.ebay.com/sch/i.html?_from=R40&_sacat=0&_nkw=smartphone&_sop=10",
            additionalFilter: '', // additional filter because ebay does not support filter only searches - separated by space
            filterInternationalResults: true,
            filterPickupOnly: false,
            mailTo: null //if you want to use a different email addr for this search
        },
    ],
    locale: "",
    dateFormat: "MMM-DD HH:mm",
	mail:
    {
        host: "smtp.gmail.com",
        user: "USERNAME",
        pass: "PASS",
        from: "eBayChangeListener FROMADDR",
        to: "TOADDR"
    }
};

module.exports = userConfig;